body {
    background-image: url(../css/bkgrd.jpg);
    background-position: center center;
    transition: background 1s ease-in;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "BioRhyme", serif;
  }
  
  h3,
  h2
  p {
    text-shadow: 0 1px 2px;
  }

#appetit {
    min-height: auto;
    padding: 1rem;
}

#reviews {
    min-height: auto;
    padding: 1rem;
    margin-bottom: 6rem;
}

.box {
    opacity: 80%;
    margin: 1rem;
  }
  
  .button {
    transition: all 0.2s ease-in-out;
    margin: 1rem;
  }
  
  .button:hover {
    transform: scale(1.1);
  }
  
  .hide {
    display: none;
  }
  .show {
    display: block;
  }

  #map {
    height: 300px;
  }

 #resultMemo {
  text-shadow: 0 1px 2px;
 }